<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
	<select id="selectAllBoard" resultType="dto.BoardDTO">
		SELECT B.*, 
			(SELECT COUNT(*) FROM BOARD_LIKE BL WHERE B.BNO = BL.BNO) AS BLIKE,
			(SELECT COUNT(*) FROM BOARD_HATE BH WHERE B.BNO = BH.BNO) AS BHATE
		FROM BOARD B ORDER BY BNO DESC
	</select>
	<select id="selectBoard" resultType="dto.BoardDTO" parameterType="int">
		SELECT B.*, 
			(SELECT COUNT(*) FROM BOARD_LIKE BL WHERE B.BNO = BL.BNO) AS BLIKE,
			(SELECT COUNT(*) FROM BOARD_HATE BH WHERE B.BNO = BH.BNO) AS BHATE
		FROM BOARD B 
		WHERE B.BNO = #{BNO}
	</select>
	<delete id="deleteBoard" parameterType="int">
		delete from board where bno = #{bno}
	</delete>
	<update id="updateBoard" parameterType="dto.BoardDTO">
		update board set title = #{title}, content = #{content}
		where bno = #{bno}
	</update>
	<insert id="insertBoardContentLike" parameterType="Map">
		insert into board_like values(#{bno},#{id})
	</insert>
	<delete id="deleteBoardContentLike" parameterType="Map">
		delete from board_like where bno = #{bno} and id like #{id}
	</delete>
	<select id="selectBoardLikeCount" parameterType="int">
		select count(*) from board_like where bno = #{bno}
	</select>
	
</mapper>









